# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript compiled files
dist/
build/
*.js
*.js.map

# TypeScript specific files
*.d.ts
!express.d.ts

# Environment variables
.env
.env.development
.env.production

# Logs
logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/
